:root{
    --background-color:  rgb(255, 254, 241);
    --birdblue: #121e6a;
    
}

body{
    background-color: rgb(255, 254, 241);
   
    display: flex;
    flex-direction: column;
    align-items:  center;
    font-family: 'Arima', cursive;
  
}

h1, h2, h3, p{
    margin: 0;
}

#content{
    
    height: 100vh;
    width:  max(330px, 70vw);
}

#main-image{
   
    border: 5px dotted green;
    height: auto;
    width: 400px;
}

.logo{
   
    width: max(80px, 20vw);
    height: auto;
    display: flex;
    
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;

}

.logo > img{
    width: 100%;
    height: auto;
}

.header{
    
    display: grid;

   
    justify-content:flex-end;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr;

    text-align: center;
    font-size: 18px;
   

}

.header > button{
    display: inline-block;
    grid-row-start: 2;

    width: 100%;
    
    font-family: inherit;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

   

    font-size: clamp(1rem, 3vw, 1.3rem);
   

    
}

#title-header{
    grid-area: 1 / 2 / 2 / -1;
    font-size: clamp(1.2rem, 12vw, 10rem);
    text-align: center;
    
}


#main-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.main{
    margin-top: 50px;
}

#menu{
    margin-top: 5%;
    display: flex;
    flex-direction: column;

}

.menu-header{
    text-align: center;
     
}

.menu-subheader{
    font-style: italic;
    
}


.menu-item{
    margin: 5px;
    
}

.menu-dish{

    display: grid;

    grid-template-areas: 
    "name . note"
    "description description price"
    "symbols . price";

    margin-top: 10px;

}

.menu-name{
    grid-area: name;
    color: var(--birdblue, black);
 
   
}

.menu-price{
    grid-area: price;
    text-align: right;
    font-weight: bold;
}

.menu-description{
    grid-area: description;
}

.menu-note{
    
   grid-area: note;

   font-style: italic;
}

.menu-symbol{
    grid-area: symbols;
}


.pictures{
   
    border-radius: 5px;
}
#table-image{
    height: auto;
    width: 300px;
}


#story-page{
    
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#page-header{
    margin-top: 10%;
    font-weight: 200;
    font-style: italic;
}