:root{
    --background-color:  rgb(255, 254, 241);
}

body{
    background-color: rgb(255, 254, 241);
   
    display: flex;
    flex-direction: column;
    align-items:  center;
  
}

#main-image{
   
    border: 5px dotted green;
    height: auto;
    width: 400px;
}

.logo{

    height: 300px;
    width: 300px;
    display: flex;

}

#header{
    display: flex;
    outline: 1px dotted red;
}
